@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&family=Work+Sans:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    color: white;
   text-align: center;
   margin-top: 15px;

}
body{
    background-color: #222;
    font-family: sans-serif;
    color:white;
    
}
.title input{
    width: 100%;
    background-color: #111;
    border: none;
    height: 35px;
    border-radius: 6px;
    cursor: pointer;
    padding: 4px;
    color: white;
}
.price input{
    background-color: #111;
    border: none;
    height: 35px;
    margin-top: 8px;
  border-radius: 6px ;
  padding: 4px;
  cursor: pointer;
  color: white;
}

.count input{
margin-top: 8px;
background-color: #111;
height: 35px;
    margin-top: 8px;
  border-radius: 6px ;
  width: 100%;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: white;
}
.catogory input{
    margin-top: 8px;
background-color: #111;
height: 35px;
    margin-top: 8px;
  border-radius: 6px ;
  width: 100%;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: white;
}
.creat button{
    margin-top: 8px;
    background-color:#470053 ;
    height: 35px;
        margin-top: 8px;
      border-radius: 25px ;
      width: 100%;
      border: none;
      color: white;
      font-size: 17px;
      font-weight: bold;
    }
.search input{
    margin-top: 8px;
    background-color: #111;
    height: 35px;
        margin-top: 8px;
      border-radius: 6px ;
      width: 100%;
      border: none;
      padding: 4px;
      cursor: pointer;
      color: white;
    }
.searchtitle button{
    margin-top: 8px;
    background-color: #470053;
    width: 70%;
    height: 35px;
    border-radius: 25px ;
    border: none;
    color: white;
}
.delet button{
    margin-top: 8px;
    background-color: #470053;
    width: 100%;
    height: 35px;
    border-radius: 25px ;
    border: none;
    color: white;
}
table{
margin-top: 20px;
}
table th{
    color: white;
    
}
tbody td{
    color: white;
}
input:focus{
    background-color: #000;
    transform: scale(1.02);
}
#total{
    background-color: red;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total: ';
}
button{
    transition: all .5s;
}
button:hover{
    background-color: #51045f;
letter-spacing: 1px;
}
button{
    background-color: #470053;
    color: white;
    height: 35px;
    border-radius: 2px;
    border: none;
    width: 100px;
}
#deletall button{
width:  100%;
margin-top: 20px;
border-radius: 25px;
}